$DB_DRIVER       = 'mysql';
#$DB_DRIVER       = 'Pg';
$DB_HOST         = 'mysql.example.com';
$DB_NAME         = 'tinderbox';
$DB_USER         = 'tinder';
$DB_PASS         = '';
$DBI_TYPE        = 'database';

1;
