# Configurable options
$TINDERBOX_HOST	 = 'http://tinderbox.example.com';
$TINDERBOX_URI	 = '/tb';
$SUBJECT	 = 'Example Tinderbox:';
$SENDER		 = 'tinderbox@example.com';
$SMTP_HOST	 = 'mail.example.com';

# These should probably be left alone
$LOGS_URI	 = $TINDERBOX_URI . '/logs';
$SHOWBUILD_URI	 = $TINDERBOX_URI . '/index.php?action=list_buildports&build=';
$SHOWPORT_URI	 = $TINDERBOX_URI . '/index.php?action=describe_port&id=';

1;
