<!-- $MCom: portstools/tinderbox/webui/templates/default/tinderstyle.css,v 1.8 2005/12/07 17:52:08 ade Exp $ //-->

body { background-color: white }
table { border: 2px solid black; border-collapse: collapse }

a { color: darkblue; }
a:visited { color: darkblue; }

.noborder { border: 0}
th { font-size:10px; background-color: rgb(255,238,238) }
td { font-size:12px; border: 1px solid gray; padding-left: 3px; padding-right: 3px }

td.port_success { background-color: #E8FFE8 }
td.port_dud { background-color: yellow; font-weight: bold; text-align: center }
td.port_leftovers { background-color: #FFFFD8; color: red; font-weight: bold; text-align: center }
td.port_broken { background-color: #FFFFD8; color: red; font-weight: bold; text-align: center }
td.port_fail { background-color: red }
td.port_default { background-color: grey }

td.build_portbuild { background-color: green }
td.build_prepare { background-color: lightblue }
td.build_default {  }

td.fail_reason_COMMON { background-color: red; color: white}
a.fail_reason_COMMON { color: white }
td.fail_reason_RARE { background-color: orange }
td.fail_reason_TRANSIENT { background-color: yellow }
