<?php

# Configurable options
$tinderbox_name	 = 'Example Tinderbox';
$tinderbox_title = 'Example Tinderbox';
$rootdir	 = '/space';
$wwwrooturi	 = '/tb';
# Comment out the next line, and uncomment the line after it to enable
# the paefchen frontend template.
$template_dir	 = 'default';
#$template_dir	= 'paefchen';

# These should probably be left alone
$pkguri		 = '/packages';
$pkgdir		 = $rootdir.'/packages';
$loguri		 = '/logs';
$logdir		 = $rootdir.'/logs';
$errorloguri	 = '/errors';
$errorlogdir	 = $rootdir.'/errors';
$templatesdir	 = $rootdir.'/scripts/webui/templates/'.$template_dir;
$templatesuri	 = $wwwrooturi.'/templates/'.$template_dir;
#$with_timer	 = 1;

?>
