/*
 Supported config commands.  If any new commands are added here,
 __DSVERSION__ must be bumped.  Use micro version bumps for new config
 commands, and minor version bumps for schema changes.
*/

INSERT INTO config VALUES ('__DSVERSION__', '3.0');
INSERT INTO config VALUES ('CCACHE_ENABLED', '0');
INSERT INTO config VALUES ('CCACHE_DIR', '');
INSERT INTO config VALUES ('CCACHE_NOLINK', '1');
INSERT INTO config VALUES ('CCACHE_MAX_SIZE', '1G');
INSERT INTO config VALUES ('CCACHE_JAIL', '0');
INSERT INTO config VALUES ('CCACHE_LOGFILE', '');
INSERT INTO config VALUES ('DISTFILE_CACHE', '');
INSERT INTO config VALUES ('DISTFILE_URI', '');
INSERT INTO config VALUES ('OPTIONS_ENABLED', '0');
INSERT INTO config VALUES ('OPTIONS_DIR', '');
INSERT INTO config VALUES ('HOST_WORKDIR', '');
INSERT INTO config VALUES ('TINDERD_SLEEPTIME', '120');
INSERT INTO config VALUES ('TINDERD_LOGFILE', '/dev/null');
INSERT INTO config VALUES ('LOG_DIRECTORY', '');
INSERT INTO config VALUES ('LOG_DOCOPY', '0');
